// Shadow
$shadow: 0px 0px 2.75px 0.25px rgba(0, 0, 0, 0.2);
$gold: #dbbd68;
$blue: #4F8EF7;
$light-purple: #c272d9;
$purple: #761fa1; // Fortnite Purple!
$green: #65b354;
$pink: #db6886;
$orange: #ff9900;
$red: #FF4500;
$grey: #738491;
$dark-grey: #1f1f1f;
$highlight: $light-purple;
$foreground: #555555;

$upvote: #ff7700;
$downvote: #4f4dc0;

// Sizes
$header-height: 300px;
$sidebar-width: 300px;
