.side hr:last-of-type {
    display: none;
}

.titlebox h6:nth-of-type(1) {
	display: block;
	position: absolute;
	top: 370px;
	right: 340px;
	left: 20px;
	padding: 0 0 0 85px;
	min-width: 725px;
	max-height: 46px;
	overflow: hidden;
	background-color: #FFF;
	color: #666;
	text-align: left;
	font-weight: 300;
	font-size: 14px;
	box-shadow: $shadow;
	text-decoration: none;

	del {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		width: 100%;
		animation: slideBox 15s infinite ease;

		strong {
			display: inline-block;
			width: 100%;
			padding: 15px 0;
		}
	}

	a {
		color: #427FED;
	}
}

.titlebox a[href$="/news"] {
	position: absolute;
	display: block;
	left: 20px;
	top: 380px;
	padding: 0 15px;
	height: 48px;
	font-weight: 700;
	color: $gold;
	line-height: 50px;
	border-left: 4px solid $gold;
	z-index: 1;
}

.side blockquote:last-of-type {

    a {
        position: absolute;
        top: 80px;
        right: 80px;
        border: 1px solid white; //ie8
        border: 1px solid rgba(255,255,255,0.2);
        background: url(%%featured%%) no-repeat;
        width: 480px;
        height: 165px;
        z-index: 1337;
        display: inline-block;
        transition: all 0.2s;
        &:hover {
            border-color: $gold;
            em {
                background: black !important;
            }
        }
        em {
            display: inline-block;
            width: 100%;
            position: absolute;
            padding: 8px 15px;
            top: 0;
            right: 0;
            background: black; //ie8
            background: rgba(0,0,0,0.7);
            z-index: 1338;
            transition: all 0.2s;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            color: $gold;
            text-transform: uppercase;
            box-sizing: border-box;
        }
    }
}

.side blockquote p:nth-child(1) {
    a {
        position: absolute;
        top: 316px !important;
        left: 430px !important;
        right: 0 !important;
        background: none;
        width: 32px;
        height: 32px;
        background: url(%%discord%%) no-repeat !important;
        border: none;
        &:hover {
            text-decoration: none;

        }
    }
    &:before {
        content: 'Join us on Discord for community discussion!';
        background: black;
        background: rgba(0,0,0,0.85);
        color: $gold;
        border: 1px solid $gold;
        text-transform: uppercase;
        position: absolute;
        top: 265px;
        left: 290px;
        padding: 10px 20px;
        z-index: 1337;
        border-radius: 3px;
        font-size: 11px;
        opacity: 0;
        transition: top 0.3s, opacity 0.3s;
    }
    &:hover {
        &:before {
            opacity: 1;
            top: 255px;
        }
    }
}

.side blockquote p:nth-child(2) {
    a {
        position: absolute;
        top: 314px !important;
        left: 490px !important;
        right: 0 !important;
        background: none;
        width: 32px;
        height: 32px;
        background: url(%%calendar%%) no-repeat;
        border: none;
        &:hover {
            text-decoration: none;

        }
    }
    &:before {
        content: 'View the community calendar for upcoming events!';
        background: black;
        background: rgba(0,0,0,0.85);
        color: $gold;
        border: 1px solid $gold;
        text-transform: uppercase;
        position: absolute;
        top: 265px;
        left: 340px;
        padding: 10px 20px;
        z-index: 1337;
        border-radius: 3px;
        font-size: 11px;
        opacity: 0;
        transition: top 0.3s, opacity 0.3s;
    }
    &:hover {
        &:before {
            opacity: 1;
            top: 255px;
        }
    }
}

.side blockquote p:nth-child(3) {
    a {
        position: absolute;
        top: 316px !important;
        left: 550px !important;
        right: 0 !important;
        background: none;
        width: 32px;
        height: 32px;
        background: url(%%faq%%) no-repeat;
        border: none;
        &:hover {
            text-decoration: none;

        }
    }
    &:before {
        content: 'Frequently asked questions by the community.';
        background: black;
        background: rgba(0,0,0,0.85);
        color: $gold;
        border: 1px solid $gold;
        text-transform: uppercase;
        position: absolute;
        top: 265px;
        left: 400px;
        padding: 10px 20px;
        z-index: 1337;
        border-radius: 3px;
        font-size: 11px;
        opacity: 0;
        transition: top 0.3s, opacity 0.3s;
    }
    &:hover {
        &:before {
            opacity: 1;
            top: 255px;
        }
    }
}
