.side hr:last-of-type {
    display: none;
}

.titlebox h6:nth-of-type(1) {
    display: block;
    position: absolute;
    top: 370px;
    right: 340px;
    left: 20px;
    padding: 0 0 0 85px;
    min-width: 725px;
    max-height: 46px;
    overflow: hidden;
    background-color: #FFF;
    color: #666;
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    box-shadow: $shadow;
    text-decoration: none;

    del {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 100%;
        animation: slideBox 15s infinite ease;

        strong {
            display: inline-block;
            width: 100%;
            padding: 15px 0;
        }
    }

    a {
        color: #427FED;
    }
}

.titlebox a[href$="/news"] {
    position: absolute;
    display: block;
    left: 20px;
    top: 380px;
    padding: 0 15px;
    height: 48px;
    font-weight: 700;
    color: $gold;
    line-height: 50px;
    border-left: 4px solid $gold;
    z-index: 1;
}

/* Z-INDEX FIX FOR FEATURED AND NAVIGATION ICONS */

.side blockquote:last-of-type {
    a {
        z-index: 1337;
    }
}

/* FEATURED LINKS */

.side blockquote ul:hover::after, blockquote li a:hover {
    animation-play-state: paused !important;
}

.side blockquote li a:hover {
    border-color: #dbbd68;
}

.side blockquote ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: inside;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 165px;
    display: inline-block;

    &:after {
        content: " ";
        z-index: 2000;
        display: block;
        position: relative;
        top: 199px;
        bottom: 0;
        left: 0;
        width: 0;
        margin-left: -356px;
        height: 2px;
        background: #dbbd68;
        animation: bar 10s linear infinite;
    }
}

.side blockquote li a {
    position: absolute;
    right: 40px;
    top: 35px;
    display: inline-block;
    width: 480px;
    height: 165px;
    padding: 0;
    margin: 0;
    background: black no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0;
}

.side blockquote li:nth-child(1) a {
    background-image: url(%%featured2%%);
    animation: slide-1 30s infinite;
}

.side blockquote li:nth-child(2) a {
    background-image: url(%%featured3%%);
    animation: slide-2 30s infinite;
}

.side blockquote li:nth-child(3) a {
    background-image: url(%%featured%%);
    animation: slide-3 30s infinite;
}

/* NAVIGATION BAR ICONS */

.side blockquote p:nth-child(1) {
    a {
        position: absolute;
        top: 316px !important;
        left: 430px !important;
        right: 0 !important;
        background: none;
        width: 32px;
        height: 32px;
        background: url(%%discord%%) no-repeat !important;
        border: none;

        &:hover {
            text-decoration: none;
        }
    }

    &:before {
        content: 'Join us on Discord for community discussion!';
        background: black;
        background: rgba(0, 0, 0, 0.85);
        color: $gold;
        border: 1px solid $gold;
        text-transform: uppercase;
        position: absolute;
        top: 265px;
        left: 290px;
        padding: 10px 20px;
        z-index: 1337;
        border-radius: 3px;
        font-size: 11px;
        opacity: 0;
        transition: top 0.3s, opacity 0.3s;
    }

    &:hover {
        &:before {
            opacity: 1;
            top: 255px;
        }
    }
}

.side blockquote p:nth-child(2) {
    a {
        position: absolute;
        top: 314px !important;
        left: 490px !important;
        right: 0 !important;
        background: none;
        width: 32px;
        height: 32px;
        background: url(%%calendar%%) no-repeat;
        border: none;

        &:hover {
            text-decoration: none;
        }
    }

    &:before {
        content: 'View the community calendar for upcoming events!';
        background: black;
        background: rgba(0, 0, 0, 0.85);
        color: $gold;
        border: 1px solid $gold;
        text-transform: uppercase;
        position: absolute;
        top: 265px;
        left: 340px;
        padding: 10px 20px;
        z-index: 1337;
        border-radius: 3px;
        font-size: 11px;
        opacity: 0;
        transition: top 0.3s, opacity 0.3s;
    }

    &:hover {
        &:before {
            opacity: 1;
            top: 255px;
        }
    }
}

.side blockquote p:nth-child(3) {
    a {
        position: absolute;
        top: 316px !important;
        left: 550px !important;
        right: 0 !important;
        background: none;
        width: 32px;
        height: 32px;
        background: url(%%faq%%) no-repeat;
        border: none;

        &:hover {
            text-decoration: none;
        }
    }

    &:before {
        content: 'Frequently asked questions by the community.';
        background: black;
        background: rgba(0, 0, 0, 0.85);
        color: $gold;
        border: 1px solid $gold;
        text-transform: uppercase;
        position: absolute;
        top: 265px;
        left: 400px;
        padding: 10px 20px;
        z-index: 1337;
        border-radius: 3px;
        font-size: 11px;
        opacity: 0;
        transition: top 0.3s, opacity 0.3s;
    }

    &:hover {
        &:before {
            opacity: 1;
            top: 255px;
        }
    }
}