// Link Flairs

.thumbnail.self {
    background-image: url(%%flair-icons%%);
    background-position: 0px 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 50px;
}

.linkflair-epic-answered .linkflairlabel, .linkflairlabel {
    padding: 4px 4px 3px;
    font-size: 9px;
    font-weight: normal;
    text-transform: uppercase;
    color: white;
    background: $purple;
    border: none;
    border-radius: 0;
    position: relative;
    top: 2px;
    letter-spacing: 1px;

    &:hover {
        background: lighten($purple, 10%);
    }
}

.linkflair-official {
    background: white url(%%epic-linkflair%%) center right no-repeat !important;

    .linkflairlabel {
        background: black;
    }

    .thumbnail {
        background-position: 0px -100px;
    }

    &:before {
        color: black;
        opacity: 1.0 !important;
    }
}

.linkflair-announcement {
    .linkflairlabel {
        background: $purple;

        &:hover {
            background: lighten($purple, 30%);
        }
    }

    &:before {
        color: $purple;
        opacity: 1.0 !important;
    }
}

.linkflair-epic-answered {
    .linkflairlabel {
        background: black;

        &:hover {
            background: lighten(black, 30%);
        }
    }

    &:before {
        color: black;
        opacity: 1.0 !important;
    }
}

.linkflair-discussion {
    .linkflairlabel {
        background: $purple;

        &:hover {
            background: lighten($purple, 30%);
        }
    }

    .thumbnail {
        background-position: 0px -50px;
    }

    &:before {
        color: $purple;
        opacity: 1.0 !important;
    }
}

.linkflair-question {
    .linkflairlabel {
        background: $purple;

        &:hover {
            background: lighten($purple, 30%);
        }
    }

    .thumbnail {
        background-position: 0px -150px;
    }

    &:before {
        color: $purple;
        opacity: 1.0 !important;
    }
}

.linkflair-bug {
    .linkflairlabel {
        background: $purple;

        &:hover {
            background: lighten($purple, 30%);
        }
    }

    .thumbnail {
        background-position: 0px -200px;
    }

    &:before {
        color: $purple;
        opacity: 1.0 !important;
    }
}

.linkflair-help {
    .linkflairlabel {
        background: $purple;

        &:hover {
            background: lighten($purple, 30%);
        }
    }

    .thumbnail {
        background-position: 0px -300px;
    }

    &:before {
        color: $purple;
        opacity: 1.0 !important;
    }
}

.linkflair-media {
    .linkflairlabel {
        background: $purple;

        &:hover {
            background: lighten($purple, 30%);
        }
    }

    .thumbnail {
        background-position: 0px -250px;
    }

    &:before {
        color: $purple;
        opacity: 1.0 !important;
    }
}

// Other Flairs

a.author[href$="/raczilla"], a.author[href$="/S-LG"], a.author[href$="/JustMooney1"], a.author[href$="/Chris_Attalus"], a.author[href$="/iFlak"], a.author[href$="/inuswetrust1"], a.author[href$="/hofftv"], a.author[href$="/ZooKeeperZak"], a.author[href$="/ConstantDesigner"], a.author[href$="/EpicTense"], a.author[href$="/EpicEricSW"], a.author[href$="/EPIC_Tokaj"], a.author[href$="/InUsWeTrust1"], a.author[href$="/arctyczyn"], a.author[href$="/MichaelNoland"], a.author[href$="/MrPopoTFS"], a.author[href$="/AfroDeezyShak"], a.author[href$="/Epic_Joel"], a.author[href$="/DanDaDaDanDan"], a.author[href$="/spazinski"], a.author[href$="/EpicPente"], a.author[href$="/RZELive"], a.author[href$="/darkveil"], a.author[href$="/sweedinmusic"], a.author[href$="/MythicBasil"], a.author[href$="/EpicCodyB"], a.author[href$="/AaronAtEpic"], a.author[href$="/Shank_TheTank"], a.author[href$="/EpicLoomin"], a.author[href$="/kyle-dev-epic"], a.author[href$="/EpicCodyB"], a.author[href$="/ModernRyoga"], a.author[href$="/SkribblrPrsn"] {
    display: inline-block;
    margin-right: .5em;
    padding: 1px;
    background: #add8e6;
    color: #555;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #fff;
    font-size: x-small;
    margin-top: -1px;
}

body:not(.moderator) .flairselector .linkflair-official {
    display: none;
}

body:not(.moderator) .flairselector .linkflair-epic-answered {
    display: none;
}

a[href$="user/ImTheMyth"]:before, a[href$="user/tripleWRECK"]:before {
    content: url("%%verified%%");
    position: relative;
    right: -4px;
    bottom: -4px;
    margin-right: 8px;
}

// User Flairs

.comment .entry {
    margin-left: 100px;
}

.userattrs {
    visibility: visible !important;

    &:before {
        content: '';
        text-indent: -9999px;
        overflow: hidden;
        position: absolute;
        left: 50px;
        top: 16px;
        width: 50px;
        height: 50px;
        background: url(%%flairs%%);
        background-position: 0px 0px;
        padding: 0;
        border: 0;
        border-radius: 5px;
    }
}

.flair + .userattrs:before {
    content: "";
    display: none;
}

.flair {
    z-index: 5;
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    left: 50px;
    top: 16px;
    width: 50px;
    height: 50px;
    background: url(%%flairs%%);
    background-position: 0px 0px;
    padding: 0;
    border: 0;
    border-radius: 5px;
}

.flair-default {
    background-position: 0 0;
}

.flair-epic {
    background-position: -50px 0;
}

.flair-hero-support-specialist {
    background-position: -100px 0;
}

.flair-hero-special-forces {
    background-position: -150px 0;
}

.flair-hero-centurion {
    background-position: -200px 0;
}

.flair-hero-warlord {
    background-position: -250px 0;
}

.flair-hero-commando {
    background-position: -300px 0;
}

.flair-hero-rescue-trooper {
    background-position: -350px 0;
}

.flair-hero-urban-assault {
    background-position: -400px 0;
}

.flair-hero-survivalist {
    background-position: -450px 0;
}

.flair-hero-shock-trooper {
    background-position: 0 -50px;
}

.flair-hero-master-grenadier {
    background-position: -50px -50px;
}

.flair-hero-controller {
    background-position: -100px -50px;
}

.flair-hero-power-base {
    background-position: -150px -50px;
}

.flair-hero-plasma-sentinel {
    background-position: -200px -50px;
}

.flair-hero-kinetic-guardian {
    background-position: -250px -50px;
}

.flair-hero-hotfixer {
    background-position: -300px -50px;
}

.flair-hero-electro-pulse {
    background-position: -350px -50px;
}

.flair-hero-tank {
    background-position: -400px -50px;
}

.flair-hero-plasma-shielder {
    background-position: -450px -50px;
}

.flair-hero-base {
    background-position: 0 -100px;
}

.flair-hero-megabase {
    background-position: -50px -100px;
}

.flair-hero-brawler {
    background-position: -100px -100px;
}

.flair-hero-stonefoot {
    background-position: -150px -100px;
}

.flair-hero-skirmisher {
    background-position: -200px -100px;
}

.flair-hero-poisoner {
    background-position: -250px -100px;
}

.flair-hero-dragon {
    background-position: -300px -100px;
}

.flair-hero-fleetfoot {
    background-position: -350px -100px;
}

.flair-hero-dim-mak {
    background-position: -400px -100px;
}

.flair-hero-assassin {
    background-position: -450px -100px;
}

.flair-hero-shuriken-master {
    background-position: 0 -150px;
}

.flair-hero-swordmaster {
    background-position: -50px -150px;
}

.flair-hero-enforcer {
    background-position: -100px -150px;
}

.flair-hero-recon-scout {
    background-position: -150px -150px;
}

.flair-hero-vanguard {
    background-position: -200px -150px;
}

.flair-hero-striker {
    background-position: -250px -150px;
}

.flair-hero-trailblaster {
    background-position: -300px -150px;
}

.flair-hero-shock-specialist {
    background-position: -350px -150px;
}

.flair-hero-trailblazer {
    background-position: -400px -150px;
}

.flair-hero-pathfinder {
    background-position: -450px -150px;
}

.flair-hero-ranger {
    background-position: 0px -200px;
}

.flair-hero-phase-scout {
    background-position: -50px -200px;
}

.flair-llama {
    background-position: -100px -200px;
}

.flair-hero-energythief {
    background-position: -200px -200px;
}

.flair-hero-dragonsarah {
    background-position: -250px -200px;
}

.flair-hero-machinist {
    background-position: -300px -200px;
}

.flair-hero-gunblazer {
    background-position: -350px -200px;
}

.flair-hero-raider {
    background-position: -400px -200px;
}

.flair-hero-catstructor {
    background-position: -450px -200px;
}

.flair-hero-hazardkyle {
    background-position: 0px -250px;
}

.flair-hero-beetlejess {
    background-position: -50px -250px;
}

.flair-hero-marinecorpse {
    background-position: -100px -250px;
}

.flair-hero-skullshot {
    background-position: -150px -250px;
}

.flair-llamamaster {
    background-position: -200px -250px;
}

.flair-shurikenmasternew {
    background-position: -250px -250px;
}

.flair-assassinlimited {
    background-position: -300px -250px;
}

.flair-assassinnew {
    background-position: -350px -250px;
}