#header {
    overflow: hidden;
    &:before {
        content: '';
        display: block;
        background-image: url(%%movinghearts%%);
        position: absolute;
        top: -150px;
        left: -50%;
        min-width: 2400px;
        height: 1200px;
        width: 200vw;
        transform: translateX(-600px) translateY(-600px);
        animation: snowfall 10s linear infinite;
        position: absolute;
        overflow: hidden;
        margin: 0;
        opacity: 0.9;
        background-size: 28%;
    }
    &:after {
        content: '';
        display: block;
        background-image: url(%%movinghearts%%);
        position: absolute;
        top: -150px;
        left: -50%;
        min-width: 2400px;
        height: 1200px;
        width: 200vw;
        transform: translateX(-300px) translateY(-300px);
        animation: snowfall 10s linear infinite;
        position: absolute;
        overflow: hidden;
        margin: 0;
        opacity: 0.6;
    }
    #sr-header-area {
        z-index: 2;
    }
    #header-bottom-left {
        z-index: 2;
    }
    #header-bottom-right {
        z-index: 2;
    }
}
body {
    overflow-x: hidden !important;
}

@keyframes snowfall {
  to {
    transform: none;
  }
}





// Featured hat and snow
// .side blockquote:last-of-type {

// 	a {
// 		&:before {
//             content: '';
//             display: inline-block;
//             width: 514px;
//     		height: 123px;
//             top: -27px;
//             left: -28px;
//             position: absolute;
//             background: url(%%featuredsnow%%);
//             background-repeat: no-repeat;
//             z-index: 9999;
//         }
//     }
// }

// #header {
//     #header-bottom-left {
//         &:before {
//             width: 110px !important;
// 			height: 110px !important;
//             background: url(%%emblemsnow%%) no-repeat !important;
//             margin-left: 5px !important;
//             margin-top: -60px !important;
//         }
//     }
//     .pagename a {
//         margin-bottom: 3px !important;
//     }
// }

/* Fixes the header with Reddit's Christmas Snoo */
#header-img { display: none}