.gold-accent.comment-visits-box {
    background: none;
    border: none;
    border-radius: 0;
    color: #333;
    margin: 20px 0 10px;
    padding: 0;

    #comment-visits {
        padding: 2px 5px;
        margin-left: 10px;
    }
}

.comments-page {
    .content {
        background: none;
        box-shadow: none;

        .link {
            background: white;
            box-shadow: $shadow;
            border: none;
        }

        .thing {
            border: none !important;
        }
    }

    .usertext.cloneable {
        background: white;
        padding: 20px;
        margin: 0;
        box-shadow: $shadow;

        .md textarea {
            margin: 10px 0 5px;
            border: 1px solid #ccc;
        }
    }

    .commentarea {
        .thing {
            padding: 15px;
            margin: 0;
            margin: 10px 0px;
            box-shadow: $shadow;
            background: white;

            .md {
                margin: 8px 0;
                font-family: Verdana, sans-serif;
                font-size: 14px;
                color: #444;
            }

            &.comment .child {
                margin-top: 0;
            }

            &.comment.stickied {
                & > .entry {
                    & .author {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding-left: 148px !important;
                        line-height: 24px;
                        background-color: $purple !important;
                        font-size: 12px;
                        z-index: 0;

                        &:before {
                            content: "moderator - ";
                        }

                        &:after {
                            content: "";
                            padding: 14px 12px;
                            position: absolute;
                            background-color: $purple;
                            transform: skewX(-20deg);
                            z-index: -1;
                            right: -13px;
                            top: 0;
                        }
                    }

                    & .tagline :not(.author) {
                        display: none;
                    }

                    ul.flat-list.buttons {
                        padding-bottom: 15px;
                    }
                }

                &.stickied > .midcol {
                    display: none;
                }

                &, body.res .comment.stickied {
                    //box-shadow: 0 -8px 17px -8px #282,0px 0 2.75px 0.25px rgba(0,0,0,0.2)!important;
                    margin-top: 20px !important;
                    margin-bottom: 20px !important;
                    padding: 22px 12px 0 !important;
                    position: relative !important;

                    //border-top: 1px solid #282!important;
                    border: 1px double $purple !important;
                }

                &:before {
                    content: "stickied comment by";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $purple;
                    color: #d6d6d6;
                    padding: 0 4px 0 12px;
                    font-size: 12px;
                    z-index: 2;
                    line-height: 28px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    padding: 14px 16px;
                    background-color: $purple;
                    top: -16px;
                    left: 120px;
                    transform: skewX(-20deg);
                    z-index: 1;
                }
            }

            .author {
                color: #555;
            }

            .tagline {
                font-size: 12px;

                .userattrs {
                    visibility: hidden;
                    font-size: 0;

                    .submitter {
                        display: none;
                    }
                }

                .moderator {
                    visibility: visible;
                    font-size: 9px;
                    font-weight: bold;
                    color: white;
                    padding: 2px 5px;

                    &.author {
                        font-size: 12px;
                        display: inline-block;
                    }
                }

                .moderator {
                    background: $green;
                }

                .submitter {
                    background: $blue;
                }
            }

            .flat-list.buttons {
                font-size: 11px;

                li a {
                    font-weight: normal;
                    color: #aaa;
                }

                li.reply-button a {
                    color: $blue;
                    font-weight: bold;
                }
            }
        }

        .collapsed .userattrs {
            display: none;
        }

        .child {
            border-left: none;
        }

        .panestack-title {
            margin: 15px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;

            .title {
                font-size: 14px;
                text-transform: capitalize;
            }
        }

        .menuarea {
            margin: 15px 0;
            font-size: 14px;

            .dropdown-title {}

            .dropdown {
                font-size: 12px;
                cursor: pointer;
            }
        }
    }
}

.comments-page {
    .new-comment {
        position: relative;

        .usertext-body {
            background: none;
            border: none;
            margin: 0;
            padding: 0;
        }

        .tagline:after {
            display: inline-block;
            content: 'New comment';
            text-transform: uppercase;
            font-size: 9px;
            color: #EA5C5C;
            margin-left: 10px;
        }
    }
}

// RES

.comments-page {
    .comment {
        position: relative;

        .RES-keyNav-activeElement, .RES-keyNav-activeElement .md-container,
        .RES-keyNav-activeElement, .RES-keyNav-activeElement .md {
            background: none !important;

            &:after {
                content: '';
                position: absolute;
                top: 10px;
                right: 10px;
                width: 10px;
                height: 9px;
                background: url(%%spritesheet%%);
                background-position: -45px -5px;
            }
        }
    }

    .commentarea {
        .RESSubscriptionButton {
            border: none;
            padding: 0;

            &:hover {
                text-decoration: underline;
            }
        }

        #REScommentNavToggle {
            font-size: 14px;

            .commentNavSortType {
                font-size: 12px !important;
            }
        }
    }
}

.res-commentBoxes.res-commentBoxes-rounded .comment {
    border-radius: 0 !important;
    border: none !important;
    padding: 15px !important;
    margin: 10px 0 !important;
}