// Main navigation
#header {
	#header-bottom-left {
		background: $dark-grey;
		width: 100%;
		height: 60px;
		font-size: 12px;
		position: relative;
		&:before {
			content: '';
            width: 95px;
			height: 100px;
			background: url(%%emblem%%) no-repeat;
			display: inline-block;
			margin-left: 15px;
			margin-top: -54px;
		}
	}

	.pagename {
		//display: none;
		font-size: 0;
		color: $dark-grey;
		a {
			display: inline-block;
			text-indent: 100%;
			overflow: hidden;
			white-space: nowrap;
			width: 253px;
			height: 35px;
			background: url(%%logo%%) no-repeat left center;
			margin-bottom: 0;
			margin-left: -5px;
			animation: flicker 10s normal infinite;
		}
	}

	.tabmenu {
		display: block !important;
		margin-top: 0;
		margin-left: 395px;
		//border-left: 1px solid white;
		padding-left: 215px;
		height: 60px;
		position: absolute;
		top: 0;

		&:before {
			content: '';
			width: 1px;
			height: 30px;
			position: absolute;
			background: white;
			display: inline-block;
			left: 0;
			top: 15px;
		}

		li {
			display: inline-block;
			height: 60px;
			position: relative;
			a {
				text-transform: uppercase;
				font-weight: normal;
				color: #ccc;
				background: none;
				padding: 24px 10px 22px;
				border: none;
				position: relative;
				padding-bottom: 21px;
				display: inline-block;
				&:hover {
					text-decoration: none;
				}
			}
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				display: block;
				height: 4px;
				width: 0;
				background-color: $highlight;
				transition: width .2s ease-in-out;
			}
			&.selected {
				a {
					color: white;
					font-weight: bold;
				}
				&:before {
					width: 100%;
				}
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}
