.submit-page {
	.submit.content {
		margin: 30px;
		box-shadow: none;
	}
	.content > h1 {
		background-color: #FFF;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		text-transform: capitalize;
		padding-top: 20px;
		padding-bottom: 18px ;
	}
	.side .titlebox {
		margin-top: 0;
	}
	.formtabs-content {
		border-top: none;
		margin: auto;
        &:before {
            background: #f2dede;
            color: #a94442;
            border: 1px solid #ebcccc;
            content: "IMPORTANT: Asking a question? Please make sure you have read the FAQ and used Reddit's search feature before posting your question. There's a very high chance it's already been answered and doing this will likely prevent others becoming from frustrated by duplicate submissions. Asking questions that have already been answered is also grounds for the removal of your submission!";
            display: block;
            margin-bottom: 20px;
            padding: 10px;
        }
	}
	#newlink {
		& > ul {
		text-align: center;
			box-shadow: $shadow;
			visibility: hidden;
			li {
				visibility: visible;
			}
		}
		& > div.spacer {
			text-align: center;
			padding-left: 6px;
			& > button {
        		width: 522px;
        		box-shadow: 0 0.5px 2.75px 0.25px rgba(0,0,0,0.2);
        		margin-bottom: 25px;
        	}
		}
	}
    .tabmenu li a {
    	padding-left: 117px !important;
        padding-right: 117px !important;
        background-color: #FFFFFF;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #DDD;
        &:hover {
            color: $purple;
        }
    }
	ul.tabmenu.formtab {
		padding-left: 0;
		font-size: 12px;
		margin: 15px 0 10px;
		li {
            &.selected a {
                background-color: $purple;
                box-shadow: -0.25px 0 2.75px 0.25px rgba(0,0,0,0.2) !important;
                padding-left: 117px;
                padding-right: 117px;
                &:hover {
                    color: white;
                    background-color: lighten($purple, 10%);
                }
            }
			a {
				border: none;
				box-shadow: 1px 0 2.7px 0.12px rgba(0,0,0,.2);
				padding: 9px 15px;
                letter-spacing: 0;
				&:hover {
					text-decoration: none;
				}
			}
			&.selected a {
				font-size: 100%;
			}
		}
	}
	.infobar {
		background: #eee;
		border: 1px solid #E2E2E2;
		padding: 20px;
		box-sizing: border-box;
	}
	#url-field.roundfield .title {
		text-transform: uppercase;
	}
	.roundfield {
		background: white;
		box-shadow: $shadow;
		padding: 20px;
		box-sizing: border-box;
		width: 100%;
		border-radius: 0;
		.usertext-edit, .markdownEditor-wrapper {
			width: 100%;
		}
		&.info-notice {
			margin: auto;
			background: white;
			box-shadow: $shadow;
			border: none;
			padding: 20px;
			font-size: 12px;
			max-width: 520px;
			border-radius: 0;
			&:first-letter {
				text-transform: capitalize;
			}
		}
		textarea, input {
			width: 100%;
			box-sizing: border-box;
			border: 1px solid #ccc;
			&[type="checkbox"] {
				width: auto;
			}
		}
	}
	#items-required {
		display: none;
	}
	#newlink-with-image-upload > div:nth-child(2) {
		margin: 15px 0;
	}
}

// RES
.RESDialogSmall.livePreview {
	margin-top: 20px;
}
